<ion-header>
  <ion-toolbar color="transparent">
    <ion-title>Select Seats</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="seat-container">
    <div class="screen">Layar</div>
    <div class="seats">
      <div *ngFor="let row of seats; let i = index" class="seat-row">
        <button *ngFor="let seat of row.slice(0, 4); let j = index"
                [ngClass]="{'selected': seat.selected, 'occupied': seat.occupied}"
                (click)="selectSeat(i, j)">
        </button>
        <div class="aisle"></div>
        <button *ngFor="let seat of row.slice(4); let j = index"
                [ngClass]="{'selected': seat.selected, 'occupied': seat.occupied}"
                (click)="selectSeat(i, j + 4)">
        </button>
      </div>
    </div>
  </div>
  <div class="legend">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon name="ellipse" color="medium"></ion-icon>Available</ion-col>
        <ion-col>
          <ion-icon name="ellipse" color="danger"></ion-icon>Reserved</ion-col>
        <ion-col>
          <ion-icon name="ellipse" color="success" ></ion-icon>Selected</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-list>
      <ion-item>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>May 30, 2024 | 12:35 - 14:10</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="ticket-outline"></ion-icon>
        <ion-label>Seats 9,10</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Total : $30</ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="block" routerLink="/payment">Buy
    </ion-button>
    
  </ion-toolbar>
</ion-footer>