<ion-header>
  <ion-toolbar color="transparent">
    <ion-buttons class="header" slot="start">
      <ion-back-button default-href=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
  <ion-list>
    <ion-item style="--inner-border-width: 0;">
      <ion-label>
        <h1 class="title-page">Change Password</h1>
        <p class="description">Change password for login.</p>
      </ion-label>
    </ion-item>

    <ion-label class="title-content">
      <p style="color: rgba(0, 0, 0, 0.575);">Current Password</p>
    </ion-label>
    <ion-item style="--inner-border-width: 0;">
      <ion-input class="input-style" label="" placeholder="Enter current password" formControlName="current_password" type="password">
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>

    <ion-label class="title-content">
      <p style="color: rgba(0, 0, 0, 0.575);">New Password</p>
    </ion-label>
    <ion-item style="--inner-border-width: 0;">
      <ion-input class="input-style" label="" placeholder="Create new password" formControlName="new_password" type="password">
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>
    <ion-label>
      <p class="notes">Minimum 8 characters alphanumeric.</p>
    </ion-label>

    <ion-label class="title-content">
      <p style="color: rgba(0, 0, 0, 0.575);">Confirm Password</p>
    </ion-label>
    <ion-item style="--inner-border-width: 0;">
      <ion-input class="input-style" label="" placeholder="Confirm new password" formControlName="confirm_password" type="password">
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="changePasswordForm.invalid">Change Password</ion-button>
  </ion-list>
</form>
</ion-content>
