.title-page {
    font-weight: bold;
    font-size: 18px;
}

.description {
    margin-top: 10px;
    font-size: 13px;
}

.title-content {
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.input-style {
    border: 1px solid lightgray; 
    color: rgb(165, 163, 163);
    margin-bottom: 10px;
}

.notes {
    margin-left: 15px;
    font-size: 12px;
    padding-bottom: 15px;
}

ion-icon {
    margin-right: 15px;
    color: gray;
}
