<ion-content>
  <div class="modal-container">
    <img class="background-img" alt="Poster Background" src="assets/img/godzilla.jpeg" />

    <div class="movie-container">
      <img class="poster" alt="Poster" src="assets/img/godzilla.jpeg"/>
      <div class="movie-info">
        <h2 class="movie-title">KONG X GODZILLA</h2>
        <p class="movie-desc">120min • SU </p>
      </div>
    </div>
    
    <div class="description-container">
      <div class="description-border">
        <h2 class="room">Studio 1</h2>
        <h2 class="date-time">30 May 2024 • 11:40 - 12:40 </h2>
        <h2 class="seats">G13 F15 F17</h2>
        <p class="quantity">3 TICKETS</p>
        <div class="button-container">
          <ion-button class="button" shape="round" color="danger">Click to use E-Ticket
          </ion-button>
        </div>
      </div>
    </div>

    <div class="barcode-container">
      <div class="barcode-border">

        <div class="booking-passkey-container">
          <div class="booking-container">
            <p class="booking-passkey">BOOKING ID</p>
            <p class="number">080221111900</p>
          </div>
          <div class="passkey-container">
            <p class="booking-passkey">PASSKEY</p>
            <P class="number">530842</P>
          </div>
        </div>

        <div class="barcode-img">
          <img src="https://barcode.tec-it.com/barcode.ashx?data=2112180805041548&multiplebarcodes=true&translate-esc=on" alt="barcode">
        </div>
      </div>
    </div>
  </div>
</ion-content>
